
<body>
    <h1>Guitars Ltd. est 1988</h1>

 


{{!-- {{#each guitars}}
 <li><a href="/details?model={{model}}">{{brand}} - {{model}}</a></li>
{{/each}} --}}



{{#each guitars}}
 <li><a href="/details?model={{model}}">{{brand}} - {{model}}</a></li>
{{/each}}


</body>
